:root {

    --white: #fff;
    --black: #000000;
    --gray-100: #F6F6F6;
    --gray-300: #838383;
    --gray-900: #313131;
    
    --blue: #3C9ECD;
    --light-blue: #00C8FF;


    --red-100: #ff5a5f;
    --red-150: #f88185;


}
